@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-roboto: 'Roboto', sans-serif;
}

@plugin "daisyui" {
  themes: dark --default;
}

select[aria-label='Rows per page:'] option {
  color: #000000;
}
